@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: "Josefin Slab", serif;	
}
body{
	margin: 25px;
}
header{
	display: flex;
	justify-content: space-between;
}
header nav{
	width: 300px;
	height: 600px;
	box-shadow: 0px -5px 5px 2px #00000030;
	position: absolute;
	background: white;
	top: 0;
	right: 0;
}
header nav li{
	list-style: none;
	margin-bottom: 3px;
	padding: 3px;
}
header nav li a{
	text-decoration: none;
	transition: border 0.5s ease-in-out;
	color: #FFD000;
	font weight: bold;
}
header nav li a:hover{
	border-bottom: 2px solid #FFD000;
}
.esconder{
	display: none;
}
.ativo{
	display: block;
}